:root {
    --bgcolor: rgb(63,94,251);
    --bggradient: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
}

html, body, header, main, div, ul, li, input, button, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Press Start 2P', cursive;
}

/*DESKTOP*/
body {
    background-color: var(--bgcolor);
    background: var(--bggradient);
    font-family: 'Press Start 2P', cursive;
}

header {
    margin: 3% auto;
}

main .primary-content {
    width: 60%;
    margin: 3% auto;
    padding: 3px;
    padding-bottom: 27px;
    background-color: rgba(51, 25, 66, 0.555);
}

    h1 {
        text-align: center;
        color: rgba(66, 51, 75, 0.849);
        text-shadow: 9px 4px 12px rgb(212, 138, 212);
        letter-spacing: 3px;
        font-size: 3rem;
    }

    h3{
        text-align: center;
        letter-spacing: 2px;
        line-height: 1.8em;
        font-size: 1.3em;
        color: rgba(161, 238, 238, 0.726);
    }

    p {
        text-align: center;
        letter-spacing: 2px;
        font-size: 40px;
    }

    main .primary-content .selection {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

        main .primary-content .selection > ul li {
            display: inline;
            padding: 3px;
            
        }

            li {
                margin: 3px;
                font-size: 36px;
                cursor: pointer;
                transition: .3s;
            }

            li:hover{
                font-size: 54px;
                transition: .3s;
            }

    main .primary-content .button {
        display: flex;
        justify-content: center;
        margin: 6%;
        padding: 3%;
    }

        .button button {
            width: 25%;
            border: 1px solid black;
            border-radius: 3px;
            padding: 9px;
            letter-spacing: 3px;
            font-weight: bold;
            background: rgb(170, 93, 170);
            color: rgba(56, 25, 56, 0.856);
            cursor: pointer;
        }

        .button button:hover {
            border: 1px solid white;
            transition: 0.6s;
        }

    .output {
        text-align: center;
        margin-top: 12%;
    }

        .output > p {
            font-size: 5em;
            letter-spacing: 36px;
        }

        .output > p {
            font-size: 4em;
            text-align: center;
            letter-spacing: 3px;
        }
    
        .output > div {
            text-align: center;
            margin: 3%;
        }
/*MOBILE*/
@media screen and (max-width: 320px) {
    header {
        margin: 9% auto;
        margin-bottom: 21%;
    }

    main .primary-content {
        width: 80%;
        margin: 3% auto;
        padding: 3px;
    }

        h1 {
            font-size: 1.4em;
        }

        h3 {
            letter-spacing: 3px;
            line-height: 1.2em;
            font-size: 0.9em;
        }

    main .primary-content .selection > ul li {
        display: inline;
        padding: 3px;
    }

        li {
            margin: 3px;
            font-size: 30px;
        }

    main .primary-content .button {
        display: flex;
        justify-content: center;
        margin: 6%;
        padding: 3%;
    }

        .button button {
            width: 60%;
            border: none;
            padding: 3px;
            letter-spacing: 1px;
            font-weight: bold;
            background: rgb(170, 93, 170);
            color: rgba(56, 25, 56, 0.856)
        }

    .output > p {
        font-size: 3em;
        text-align: center;
        letter-spacing: 3px;
    }

    .output > div {
        width: 45%;
        margin: 0 auto;
    }
    .output > div {
        width: 180px;
    }
}

@media screen and (min-width: 321px) and (max-width: 540px) {

    header {
        margin: 9% auto;
        margin-bottom: 21%;
    }

    main .primary-content {
        width: 80%;
        margin: 3% auto;
        padding: 3px;
    }

        h1 {
            font-size: 2em;
        }

        h3 {
            letter-spacing: 3px;
            line-height: 1.6em;
            font-size: 0.9em;
        }

    main .primary-content .selection > ul li {
        display: inline;
        padding: 3px;
    }

        li {
            margin: 3px;
            font-size: 30px;
        }

    main .primary-content .button {
        display: flex;
        justify-content: center;
        margin: 6%;
        padding: 3%;
    }

        .button button {
            width: 45%;
            border: none;
            padding: 3px;
            letter-spacing: 1px;
            font-weight: bold;
            background: rgb(170, 93, 170);
            color: rgba(56, 25, 56, 0.856)
        }

    .output > p {
        font-size: 4em;
        text-align: center;
        letter-spacing: 3px;
    }

    .output > div {
        width: 45%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

    main .primary-content {
        width: 86%;
        margin: 12% auto;
        padding: 3px;
    }
        ul, li, p {
            font-size: 1.8em;
        }

        h3 {
            font-size: 1.3em;
        }

        h1 {
            font-size: 2.3em;
        }
        
        li:hover{
            font-size: 63px;
            transition: .3s;
        }

        .button button {
            width: 45%;
            border: none;
            padding: 9px;
            letter-spacing: 3px;
            font-weight: bold;
            background: rgb(170, 93, 170);
            color: rgba(56, 25, 56, 0.856);
            cursor: pointer;
        }

        .button button:hover {
            border: 1px solid white;
            transition: 0.6s;
        }

        .output > p {
            font-size: 5em;
            margin-bottom: 3%;
        }

        .output > div {
            text-align: center;
            margin-bottom: 3%;
        }
}